<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <section class="login-page">
        <form method="POST" action="/login" class="form-sigin">
            <div class="box">
                <div style="display: block;
                margin-left: auto;
                margin-right: auto;
                ">
                    <img src="img/logo.png" alt="">
                </div>
              
                <div class="form-head">
                    <h1>Login</h1>
                </div>
                <div class="form-body">
                    <input type="text" placeholder="Email" name="email" />
                    <input type="Password" placeholder="Password" name="password" />
                </div>
                <div class="checkbox">
                    <input type="checkbox" value="remember-me"> Remember me
                </div>
                <br>
                <div class="form-footer">
                    <button type="submit">Sign In</button>
                </div>
            </div>
        </form>
    </section>

</body>

</html>