<% include ../../partial/header%>

<% include ../../partial/navbar%>

<div class="wrapper d-flex align-items-stretch">
    <% include ../../partial/sidebar%>
    <!-- Page Content  -->
    <div id="content" class="p-4 pt-1">
        <h1>Activity</h1>
        <hr>
        <div class="card">
            <div class="card-header">Project Activity# <%= data.name %></div>

        </div>

    </div>


    <% include ../../partial/footer%>